*{
    list-style: none;
    margin: 0rem;
    padding: 3px;
    box-sizing: border-box;
    background: lightgreen;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 40px;
    cursor: pointer;
}



#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: auto;
    padding-top: 40px;
}

#restartBtn{
    width: 6rem;
    height: 3rem;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
    background: black;
    color: white;
    border: 2px solid #000000;
}
